<ng-include src="'/public/app/modules/header/header.html'"
            ng-controller="HeaderCtrl"></ng-include>


<article class="spread noahAndChristina">


	<section class="all-work">
		<div class="section-content">
			<button ng-click="state.go('dock.work')">
				<i class="ionicons ion-chevron-left"></i>
				<span>All work</span>
			</button>
		</div>
	</section>


	<section class="spread-banner">
		<div class="section-content">
			<div class="spread-banner-left">
				<div class="spread-banner-title">
					<h1>Noah And Christina</h1>
					<h2>A student-government campaign hub</h2>
				</div>
				<div class="spread-banner-roles">
					<ul>
						<li>Front-End Development</li>
						<li>UI Design</li>
						<li>UX Design</li>
					</ul>
				</div>
				<div class="spread-banner-summary">
					<p>
						Supporting the candidate pair I believed was
						best fit to lead Northwestern's student
						government, the Noah And Christina website
						presents and promotes their platform.
					</p>
				</div>
				<div class="spread-banner-links">
					<ul>
						<li class="github">
							<a target="_blank" href="https://github.com/jonrovira/campaign_website">
								<i class="fa fa-github"></i>
								<span>GitHub Repository</span>
							</a>
						</li>
						<li class="live-site">
							<a target="_blank" href="http://www.noahandchristina.com/">
								<i class="fa fa-desktop"></i>
								<span>Live Site</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="spread-banner-right">
				<img src="/public/img/spreads/noahAndChristina/banner.png" />
			</div>
		</div>
	</section>


	<section class="spread-basic-section">
		<div class="section-content">
			<div class="spread-section-left content">
				<h2>Background</h2>
				<p>
					The elections for student-government President
					and Vice President are notoriously compettive
					at Northwestern and the campaigns in 2015 were
					no different. Working alongisde Noah Star and
					Christina Kim's marketing committee, I
					collaborated with <a target="_blank" href="http://www.nevilgeorge.me/#/">Nevil George</a>
					to build the website that would present the
					pair's background, platform, endorsements, and
					promote other marketing material such as social
					media feeds.
				</p>
			</div>
			<div class="spread-section-right media">
				<img src="/public/img/spreads/noahAndChristina/background-splash.png" />
				<span class="caption">Early splash page sketch</span>
				<img src="/public/img/spreads/noahAndChristina/background-endorsements.png" />
				<span class="caption">Early endorsement page sketch</span>
			</div>
		</div>
	</section>


	<section class="spread-technology-section">
		<div class="section-content">
			<div class="spread-technology-text">
				<h2>The Technology</h2>
				<p>
					To facilitate my interaction and design role in
					the project, I utilized the following front-end
					technologies.
				</p>
			</div>
			<div class="spread-technology-graphics technologies">
				<ul>
					<li>
						<i class="ionicons ion-social-angular"></i>
						<span>
							AngularJS
						</span>
					</li>
					<li>
						<i class="fa fa-html5"></i>
						<span>
							HTML5
						</span>
					</li>
					<li>
						<i class="ionicons ion-social-sass"></i>
						<span>
							Sass
						</span>
					</li>
					<li>
						<i class="fa fa-css3"></i>
						<span>
							CSS3
						</span>
					</li>
				</ul>
			</div>
		</div>
	</section>


	<section class="spread-basic-section">
		<div class="section-content">
			<div class="spread-section-left media">
				<img src="/public/img/spreads/noahAndChristina/outreach-join.png" />
				<span class="caption">Facebook outreach component</span>
				<img src="/public/img/spreads/noahAndChristina/outreach-speak.png" />
				<span class="caption">Input submission component</span>
			</div>
			<div class="spread-section-right content">
				<h2>Outreach Components</h2>
				<p>
					Two of the goals for the website were to enlist
					the support of students and actively engage them
					on campus. These two components illustrate ways
					in which we tried to achieve those goals.
				</p>
			</div>
		</div>
	</section>


	<section class="spread-basic-section">
		<div class="section-content">
			<div class="spread-section-left content">
				<h2>Endorsements Widget</h2>
				<p>
					As student leaders around campus contributed
					their ideas and latched onto Noah and
					Christina's platform, we placed a heavy
					emphasis on recognizing their support and
					endorsements. On the website, an entire section
					of the site is devoted to these students'
					testimonials.
				</p>
			</div>
			<div class="spread-section-right media">
				<img src="/public/img/spreads/noahAndChristina/endorsements.png" />
				<span class="caption">Endorsements widget</span>
			</div>
		</div>
	</section>


	<section class="spread-basic-section">
		<div class="section-content">
			<div class="spread-section-left media">
				<img src="/public/img/spreads/noahAndChristina/end-result.jpg" />
				<span class="caption">Campaign Facebook profile picture</span>
			</div>
			<div class="spread-section-right content">
				<h2>End Result</h2>
				<p>
					Throughout the course of the official campaign
					week, the website had thousands of hits. When
					the campaign team celebrated Noah and
					Christina's victory, Nevil and I were confident
					that we had materially contributed to that
					success with the site's development.
				</p>
			</div>
		</div>
	</section>


	<section class="all-work">
		<div class="section-content">
			<button ng-click="state.go('dock.work')">
				<i class="ionicons ion-chevron-left"></i>
				<span>All work</span>
			</button>
		</div>
	</section>


</article>