<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="initial-scale=1, maximum-scale=1" />

		<title>Jon Rovira</title>

		<link rel="stylesheet" href="/public/bower_components/components-font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/public/bower_components/Ionicons/css/ionicons.min.css" />
		<link rel="stylesheet" href="/public/css/normalize.css" />
		<link rel="stylesheet" href="/public/css/main.css" />
	</head>

	<body ng-app="portfolioApp">

		<div class="main-wrapper" ui-view></div>



		<script src="/public/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="/public/bower_components/angular/angular.min.js"></script>
		<script src="/public/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
		<script src="/public/bower_components/angular-animate/angular-animate.min.js"></script>

		<script src="/public/app/app.module.js"></script>
		<script src="/public/app/app.routes.js"></script>

		<script src="/public/app/templates/dock/dockCtrl.js"></script>

		<script src="/public/app/modules/header/headerCtrl.js"></script>
		<script src="/public/app/modules/splash/splashCtrl.js"></script>

		<script src="/public/app/modules/docks/work/workCtrl.js"></script>
		<script src="/public/app/modules/docks/story/storyCtrl.js"></script>
		<script src="/public/app/modules/docks/contact/contactCtrl.js"></script>
		
		<script src="/public/app/modules/spreads/rj/rjCtrl.js"></script>
		<script src="/public/app/modules/spreads/composite/compositeCtrl.js"></script>
		<script src="/public/app/modules/spreads/noahAndChristina/noahAndChristinaCtrl.js"></script>
		<script src="/public/app/modules/spreads/theBook/theBookCtrl.js"></script>
	</body>

</html>